init jeu de donnees et affichage des informations, on notte une difference entre les colonnes Total_Proteins de chaque table

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# A compléter
df_h1 = pd.read_json('./liver.json')
df_h2 = pd.read_csv('./liver.csv')
df_h1.head()
df_h2.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,ALT,AST,Total_Proteins,Albumin,Albumin_and_Globulin_Ratio,Result
0,41 to 60 yo,Male,7.0,2.0,174.0,NaN,14,7800.0 mg/dL,4.2,NaN,2
1,41 to 60 yo,Male,6.0,2.0,245.0,22.0,24,7100.0 mg/dL,3.4,0.9,1
2,21 to 40 yo,Male,11.0,5.0,191.0,37.0,41,7700.0 mg/dL,4.3,NaN,2
3,21 to 40 yo,Male,24.0,10.0,340.0,25.0,21,8300.0 mg/dL,4.5,NaN,1
4,21 to 40 yo,Male,6.0,2.0,202.0,NaN,41,8000.0 mg/dL,3.9,0.9,1

combination donnees

avant de combiner les tables on fait l'harmonisation de la colonne Total_Proteins

In [ ]:
def check_protein_format(protein_str):
    return isinstance(protein_str, str) and protein_str.strip().endswith('mg/dL')

def extract_protein_value(protein_str):
    if pd.isna(protein_str):
        return pd.NA
    if check_protein_format(protein_str):
        try:
            return float(protein_str.strip().replace('mg/dL','').strip())
        except:
            return pd.NA
    try:
        return float(protein_str/1000)
    except:
        return pd.NA

# Aplicar la función al dataframe (df_h2 ya debería existir)
df_h2['Total_Proteins'] = df_h2['Total_Proteins'].apply(extract_protein_value)
df_h2['Total_Proteins'].head()

0    7800.0
1    7100.0
2    7700.0
3    8300.0
4    8000.0
Name: Total_Proteins, dtype: object

afficher information

In [5]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         612 non-null    object
 1   Gender                      612 non-null    object
 2   Total_Bilirubin             607 non-null    float64
 3   Direct_Bilirubin            607 non-null    float64
 4   Alkaline_Phosphotase        607 non-null    float64
 5   Alamine_Aminotransferase    236 non-null    float64
 6   Aspartate_Aminotransferase  291 non-null    float64
 7   Total_Proteins              610 non-null    object
 8   Albumin                     606 non-null    float64
 9   Albumin_and_Globulin_Ratio  489 non-null    float64
 10  Outcome                     291 non-null    float64
 11  ALT                         254 non-null    float64
 12  AST                         321 non-null    float64
 13  Result                      321 non-null    float64
dtypes: float64(11), object(3)
memory usage: 67.1+ KB

Harmonisation de la colonne Total_Proteins

Concaténé les 2 jeux de données (à la fin)

In [4]:
df_combined = pd.concat([df_h1,df_h2])
df_combined.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Proteins,Albumin,Albumin_and_Globulin_Ratio,Outcome,ALT,AST,Result
0,61 to 80 yo,Female,0.7,0.1,187.0,NaN,18.0,6.8,3.3,0.90,1.0,NaN,NaN,NaN
1,61 to 80 yo,Male,10.9,5.5,699.0,64.0,100.0,7.5,NaN,0.74,1.0,NaN,NaN,NaN
2,61 to 80 yo,Male,7.3,4.1,490.0,NaN,68.0,7.0,3.3,NaN,1.0,NaN,NaN,NaN
3,41 to 60 yo,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1.0,NaN,NaN,NaN
4,61 to 80 yo,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1.0,NaN,NaN,NaN