init jeu de donnees

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# A compl√©ter
df_h1 = pd.read_json('./liver.json')
df_h2 = pd.read_csv('./liver.csv')
df_h1.head()
df_h2.head()

combination donnees

In [2]:
df_combined = pd.concat([df_h1, df_h2], ignore_index=True)
df_combined.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Proteins,Albumin,Albumin_and_Globulin_Ratio,Outcome,ALT,AST,Result
0,61 to 80 yo,Female,0.7,0.1,187.0,NaN,18.0,6.8,3.3,0.90,1.0,NaN,NaN,NaN
1,61 to 80 yo,Male,10.9,5.5,699.0,64.0,100.0,7.5,NaN,0.74,1.0,NaN,NaN,NaN
2,61 to 80 yo,Male,7.3,4.1,490.0,NaN,68.0,7.0,3.3,NaN,1.0,NaN,NaN,NaN
3,41 to 60 yo,Male,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1.0,NaN,NaN,NaN
4,61 to 80 yo,Male,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1.0,NaN,NaN,NaN

afficher information